@model ProjectManager.Models.ProjectViewModels.DeleteProjectViewModel

<h1>Delete @Model.Project.Name</h1>

<div class="row">
    <div class="col-md-8">
        <section>
            <form class="form-inline" asp-controller="Project" asp-action="DestroyProject">
                <input type="hidden" name="id" value="@Model.Project.Id">
                <button type="submit" name="delete" value="true" class="btn btn-warning">Confirm</button>
                <button type="submit" name="delete" value="false" class="btn btn-default">Abort</button>
            </form>
        </section>
    </div>
</div>