 @{ ViewData["Title"] = "Your Projects"; } @model ProjectManager.Models.ProjectViewModels.ListProjectViewModel

<h1>Your Projects</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in @Model.Projects) {
        <tr>
            <th scope="row">@project.Id</th>
            <td>@project.Name</td>
        </tr>
        }
    </tbody>
</table>